*.db
*.user
*.opendb
GameServer/Debug/*.exe
GameServer/Debug/*.ilk
GameServer/Debug/*.pdb
GameServer/GameServer/Debug/
GameServer/.vs
GameServer/Release/
StarGame/Debug/*.exe
StarGame/Debug/*.ilk
StarGame/Debug/*.pdb
StarGame/.vs
StarGame/Release/
StarGame/StarGame/Debug/
.DS_Store
*xcuserdatad*
*.xccheckout
*.stackdump
External/FMOD
